<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.temp.forsimstatetest">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--28부터 포그라운드 서비스에 대해서 권한추가됨-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--부트컴프리트 받으려면 필요함-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.temp.forsimstatetest.Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>

    </application>

</manifest>